registro{
    font-size: large;
    background-color: cornflowerblue;
    display: block;
    padding: 20px;
    font-size: 35px;
    margin-left: 100px;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: 13%;
    width: 50%;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 0%;
    border-color: black;
    border: 2px solid black;
    font-weight: bold;
    font-family: 'Lucida Handwriting';
    text-align: center;
    color: white;
}
a{
    background-color:rgb(16, 87, 219);
    font-size: 25px;
    color: cornsilk;
    padding: 1em;
    text-decoration:none;
    margin-left: 45%;
}
registro::before{
    content: "Universidad de El Salvador";
    
}
facultad{
    display: block;
    font-family: 'Brush Script MT';    
}
carrera{
    display: block;
    font-family: 'Helvetica';
    padding-bottom: 1cm;
}
nombreAsignatura{
    font-family: 'Papyrus';
    font-size: 24px;
}
grupoLab{
    display: block;
    font-size: 25px;
    font-family: sans-serif;
}
grupoLab::before{
    content: "Grupo de Laboratorio: ";
    font-size: 25px;
    font-family: sans-serif;
}
docente{
    font-size: 25px;
    font-family: 'Times New Roman';
}
docente::before{
    content: "Docente: ";
    font-size: 25px;
    font-family: 'Times New Roman';
}
descripcion{
    display: block;
    font-size: 25px;
    font-family: 'Times New Roman';
}
descripcion::before{
    content: "Actividad: ";
    font-size: 25px;
    font-family: 'Times New Roman';
}
ponderacion{
    font-size: 25px;
    font-family: 'Times New Roman';    
}
ponderacion::before{
    content: "Ponderación: ";
    font-size: 25px;
    font-family: 'Times New Roman';    
}
listEquipos{
    display: block;
    font-size: 25px;
    font-family: 'Copperplate';
}
listEquipos::before{
    content: "Lista de equipos de trabajo: ";
    padding-bottom: 0cm;
}
equipo{
    display: block;
    border-color: white;
    border-style: dashed;
    margin:2em;
}
equipo::before{
    content: "Equipo #";    
}
tema{
    display: block;
    border-color: white;
    border-style: dashed;
    font-family: 'Courier New';
}
tema::before{
    content: "Tema: ";
}
coordinador::before{
    content: "Integrantes del equipo: " '\A';
    white-space:pre;
}
coordinador::after{
    content: "*(Coordinador)";
    
}
coordinador{
    display: block;
    font-family: 'Courier New';    
}
integrante{
    display: block;
    font-family: 'Courier New';
}